<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawn.gonav.user.mapper.UserMapper">
    <insert id="add" parameterType="com.dawn.gonav.model.po.User">
        insert into
            user(
                 username,
                 email,
                 password,
                 role,
                 github_openid,
                 linuxdo_openid,
                 create_time,
                 update_time
        ) values(
                 #{username},
                 #{email},
                 #{password},
                 #{role},
                 #{githubOpenid},
                 #{linuxdoOpenid},
                 #{createTime},
                 #{updateTime}
        )
    </insert>
    <select id="findUserByEmail" resultType="com.dawn.gonav.model.po.User">
        select * from user where email = #{email}
    </select>
    <select id="findUserByUsername" resultType="com.dawn.gonav.model.po.User">
        select * from user where username = #{username}
    </select>
    <select id="findUserById" resultType="com.dawn.gonav.model.po.User">
        select * from user where id = #{id}
    </select>
    <select id="findUserByLinuxDoOpenId" resultType="com.dawn.gonav.model.po.User">
        select * from user where linuxdo_openid = #{openId}
    </select>
    <select id="findUserByGitHubOpenId" resultType="com.dawn.gonav.model.po.User">
        select * from user where github_openid = #{openId}
    </select>
    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="githubOpenid != null">
                github_openid = #{githubOpenid},
            </if>
            <if test="linuxdoOpenid != null">
                linuxdo_openid = #{linuxdoOpenid},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getUserVOs" resultType="com.dawn.gonav.model.vo.UserVO">
        select
            id,
            username,
            email,
            github_openid,
            linuxdo_openid,
            phone,
            nickname,
            role,
            create_time,
            (select count(1) from app where create_user = u.id) as app_num,
            (select count(1) from category where create_user = u.id) as category_num
        from user u
        <where>
            <if test="searchContent != null">
                and username like concat('%',#{searchContent},'%')
                or email like concat('%',#{searchContent},'%')
                or phone like concat('%',#{searchContent},'%')
                or nickname like concat('%',#{searchContent},'%')
            </if>
        </where>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>
</mapper>